---

---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >September 2024</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Software developer
    </h3>
    <span class="text-gray-400 mb-2">Core Team & Co</span>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      <strong class="font-semibold">SaaS Platform</strong>: Key member of the
      core team, responsible for designing and developing the application with a
      focus on user experience and performance optimization. Implemented and
      managed payment systems integrated with PayPal, ensuring secure and
      seamless transactions. Designed and integrated AI solutions, leveraging
      Google Gemini to create an interactive and user-friendly AI, significantly
      enhancing the user experience. Utilized tools like Google PageSpeed to
      optimize application performance, achieving a 25% improvement in speed and
      efficiency. Ensured platform security by implementing a robust
      authentication system using Supabase, safeguarding user data effectively.
    </p>
  </li>
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >June 2024</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Frontend developer
    </h3>
    <span class="text-gray-400">Hackathon</span>
    <br />
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      I was in charge of developing a free course platform, managing to improve
      its speed by 25%. I implemented best practices, reducing JavaScript load
      and prioritizing CSS. I used tools such as Google PageSpeed ​​​​Insights
      to optimize website performance, ensuring a smooth and fast user
      experience.
    </p>
  </li>
  <li class="ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >April 2024</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Backend developer
    </h3>
    <span class="text-gray-400 mb-2">API for sending email</span>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Develop an API that sends an email to the user upon registration, either
      with a welcome message or for account activation, depending on the
      established configuration. Endpoints were implemented to manage various
      functionalities, including user creation, authentication, login and
      registration. Additionally, the possibility of saving images was added,
      facilitating a comprehensive and efficient experience for users.
    </p>
  </li>
</ol>
