---

---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >September 2024</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Backend Engineer
    </h3>
    <span class="text-gray-400 mb-2">opensource book platform</span>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      I developed the authentication microservice by applying best practices in
      security and hashing. This service manages user registration and
      authentication efficiently, ensuring the protection of sensitive data and
      guaranteeing a secure user experience.
    </p>
  </li>
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >April 2024</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Frontend Engineer
    </h3>
    <span class="text-gray-400">Hackathon</span>
    <br />
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      I was in charge of developing a free course platform, managing to improve
      its speed by 25%. I implemented best practices, reducing JavaScript load
      and prioritizing CSS. I used tools such as Google PageSpeed ​​​​Insights
      to optimize website performance, ensuring a smooth and fast user
      experience.
    </p>
  </li>
  <li class="ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >July 2024</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Backend Engineer
    </h3>
    <span class="text-gray-400 mb-2">open source API</span>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Develop an API that sends an email to the user upon registration, either
      with a welcome message or for account activation, depending on the
      established configuration. Endpoints were implemented to manage various
      functionalities, including user creation, authentication, login and
      registration. Additionally, the possibility of saving images was added,
      facilitating a comprehensive and efficient experience for users.
    </p>
  </li>
</ol>
