---

---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >September 2024</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Backend Engineer
    </h3>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Desarrollé el microservicio de autenticación aplicando las mejores
      prácticas de seguridad y hashing. Este servicio gestiona el registro y
      autenticación de usuarios de manera eficiente, asegurando la protección de
      datos sensibles y garantizando una experiencia de usuario segura.
    </p>
  </li>
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >April 2024</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Frontend Engineer
    </h3>
    <span class="text-gray-400">Hackanthon</span>
    <br />
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Me encargué del desarrollo de una plataforma de cursos gratuitos, logrando
      mejorar su velocidad en un 25%. Implementé las mejores prácticas,
      reduciendo la carga de JavaScript y priorizando el CSS. Utilicé
      herramientas como Google PageSpeed Insights para optimizar el rendimiento
      del sitio web, asegurando una experiencia de usuario fluida y rápida.
    </p>
  </li>
  <li class="ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >July 2024</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Backend Engineer
    </h3>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Desarrollé una API que envía un correo electrónico al usuario al
      registrarse, ya sea con un mensaje de bienvenida o para la activación de
      cuentas, según la configuración establecida. Implementé endpoints para
      gestionar diversas funcionalidades, incluyendo la creación de usuarios,
      autenticación, inicio de sesión y registro. Además, añadí la capacidad de
      guardar imágenes, facilitando una experiencia integral y eficiente para
      los usuarios.
    </p>
  </li>
</ol>
