---
const personalImageAlt = 'Eury sosa';
import LinkedInIcon from '@/components/icons/LinkedIn.astro';
import SocialPill from '@/components/SocialPill.astro';
import GitHub from './icons/GitHub.astro';
---

<div class="max-w-xl mx-auto">
  <div class="container max-w-screen-xl mx-auto px-4">
    <div class="text-center">
      <div class="flex justify-center mb-16">
        <img
          src="/112292926.jpeg"
          alt="Image"
          class="w-64 h-64 rounded-full object-contain object-fill"
          style="filter: grayscale(1);"
        />
      </div>
      <h6 class="font-medium text-gray-600 text-lg md:text-2xl uppercase mb-8">
        Eury Sosa Garcia
      </h6>
      <h1
        class="font-normal text-gray-900 text-3xl md:text-5xl leading-none mb-8"
      >
        Software Developer
      </h1>
      <p class="font-normal text-gray-600 text-md md:text-xl mb-16">
        Open source contribuiter
      </p>
    </div>
  </div>

  <nav class="flex flex-wrap gap-4 mt-8 justify-center">
    <SocialPill href="https://linkedin.com/in/watercubz">
      <LinkedInIcon class="size-4" />
      Contact me
    </SocialPill>
    <SocialPill href="https://github.com/watercubz">
      <GitHub class="size-4" />
      GitHub
    </SocialPill>
  </nav>
</div>
